body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura total da viewport */
    display: flex; /* Usar flexbox */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    background-image: url('../img/background.png'); /* Substitua pelo caminho da sua imagem */
    background-repeat: repeat;
    background-size: auto;
    background-position: center center;
}

.container {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.image {
    filter: brightness(0%);
    width: 100%;
    height: 50%;
    object-fit: contain;
    display: block;
    margin: 0 auto; /* Centraliza a imagem dentro do container */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 80%;
    margin: 40px auto;
}

button {
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transições suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra do botão */
}

.btn-prev,
.btn-next {
    background-color: #e41818; /* Cor de fundo padrão */
}

.btn-prev:hover,
.btn-next:hover {
    background-color: #c71616; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Leve elevação do botão */
}

.btn-prev:active,
.btn-next:active {
    transform: translateY(0); /* Voltar à posição original ao clicar */
}

.alternative {
    background-color: #8e8e8e; /* Cor de fundo padrão */
}

.alternative:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Leve elevação do botão */
}

.alternative:active {
    transform: translateY(0); /* Voltar à posição original ao clicar */
}

.right {
    background-color: rgb(49, 148, 49);
}

.wrong {
    background-color: crimson;
}


.disabled-button {
    opacity: 0.5; /* Reduz a opacidade */
    pointer-events: none; /* Desabilita interações */
}

.btn-exit {
    background-color: #e41818; /* Cor de fundo */
    border: #e41818;
    color: rgb(255, 255, 255); /* Cor do ícone */
    padding: 0; /* Remove o padding */
    border-radius: 50%; /* Torna o botão redondo */
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o ícone */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40px; /* Tamanho do botão */
    height: 40px; /* Tamanho do botão */
    position: absolute; /* Permite que o botão fique no canto */
    top: 10px; /* Distância do topo */
    left: 10px; /* Distância da esquerda */
}

.btn-exit:hover {
    background-color: #b01212; /* Cor ao passar o mouse */
}

.btn-exit i {
    color: white;
    font-size: 20px;
    align-items: center;

    transition: color 0.3s ease; /* Transições suaves */

    
}
