body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura total da viewport */
    display: flex; /* Usar flexbox */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    background-image: url('../img/background.png'); /* Substitua pelo caminho da sua imagem */
    background-repeat: repeat;
    background-size: auto;
    background-position: center center;
}

.container {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.pokemon-info {
    text-align: center;
    margin-top: 20px;
}

.image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin: 0 auto; /* Centraliza a imagem dentro do container */
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.detail-item {
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 10px;
}

.detail-item span:first-child {
    font-weight: bold;
}

.btn {
    background-color: #e41818;; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    text-decoration: none; /* Remove sublinhado */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Efeito de transição para a cor de fundo */
    display: inline-block; /* Para permitir o padding e a borda */
    cursor: pointer; /* Cursor muda para mãozinha ao passar por cima */
}

.btn:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
    font-weight: bold; /* Negrito para os textos dos botões */
}
.pokemon-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}