@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/background.png'); /* Substitua pelo caminho da sua imagem */
    background-repeat: repeat;
    background-size: auto;
    background-position: center center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    margin-top: 5vh;
    padding: 60px 15px 60px 15px;
    width: 400px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3)
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;;
    width: 400px;

}

input {
    position: relative; 
    background-color: white;
    margin: 10px 0 0 0;
    border-radius: 5px;
    width: 90%;
    height: 35px;
    padding-left: 13px;
    
}





.custom-font {
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 25px;
}



.enviar {
    background-color: #e41818;
    position: relative;
    border-radius: 5px;
    width: 90%;
    height: 35px;
    margin-top: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-shadow: 0 5px #572222; /* Adiciona sombra vermelha escura */
    transition: all 0.2s ease; /* Transição suave */
  }
  
  .criar {
    position: relative;
    height: 35px;
    border: 2px solid #e41818;
    background-color: white;
    color: #e41818;
    width: 90%;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-shadow: 0 5px #bb5c5c; /* Adiciona sombra vermelha escura */
    transition: all 0.2s ease; /* Transição suave */
  }

img {
    display: block;
    height: auto;
    width: 60%;
}

.enviar:active {
    box-shadow: 0 2px #b31212; /* Reduz a sombra */
    transform: translateY(4px); /* Move o botão para baixo */
  }

.criar:active {
    box-shadow: 0 2px #b31212; /* Reduz a sombra */
    transform: translateY(4px); /* Move o botão para baixo */
}

.back i {
    font-size: 20px; /* Tamanho do ícone */
}


.back {
    background-color: #e41818;
    border: #e41818;
    color: rgb(255, 255, 255);
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}
