body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura total da viewport */
    display: flex; /* Usar flexbox */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    background-image: url('../img/background.png'); /* Substitua pelo caminho da sua imagem */
    background-repeat: repeat;
    background-size: auto;
    background-position: center center;
}

.back {
    background-color: #e41818; /* Cor de fundo */
    border: #e41818;
    color: rgb(255, 255, 255); /* Cor do ícone */
    padding: 0; /* Remove o padding */
    border-radius: 50%; /* Torna o botão redondo */
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o ícone */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40px; /* Tamanho do botão */
    height: 40px; /* Tamanho do botão */
    position: absolute; /* Permite que o botão fique no canto */
    top: 10px; /* Distância do topo */
    left: 10px; /* Distância da esquerda */
}

.back:hover {
    background-color: #c71616; /* Cor de fundo ao passar o mouse */
}

.back i {
    font-size: 20px; /* Tamanho do ícone */
}

.container {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nome_e_favorito {
    display: flex;               /* Ativa o flexbox para o título e o botão de favorito */
    align-items: center;         /* Centraliza verticalmente os itens dentro deste div */
}

h1 {
    text-transform: capitalize;
    margin-bottom: 20px;
    margin: 0;                   /* Remove margens do h1 para melhor alinhamento */
    font-size: 24px;             /* Tamanho da fonte do título */
}
.pokemon-info {
    text-align: center;
    margin-top: 20px;
}

.favorite-button {
    background-color: transparent; /* Inicialmente transparente */
    height: 25px;
    width: 35px;
    border: 2px solid black;   /* Borda vermelha */
    border-radius: 10%;           /* Faz o botão ser circular */
    margin-right: 10px;
    cursor: pointer;              /* Cursor como mãozinha */
    transition: background-color 0.3s; /* Transições suaves */
}

.favorite-button i{
    font-size: 16px;
}
.favorite-button.favorited i {
    font-size: 18px;
}

.image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin: 0 auto; /* Centraliza a imagem dentro do container */
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.detail-item {
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 10px;
}

.detail-item span:first-child {
    font-weight: bold;
}
*/
.detail-item {
    background-color: #e9ecef;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.detail-item i {
    font-size: 20px;
    color: #333;
}

.detail-item span {
    font-size: 14px;
}

.detail-item span.value {
    font-weight: bold;
    font-size: 16px;
}

.btn {
    background-color: #e41818;; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    text-decoration: none; /* Remove sublinhado */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Efeito de transição para a cor de fundo */
    display: inline-block; /* Para permitir o padding e a borda */
    cursor: pointer; /* Cursor muda para mãozinha ao passar por cima */
}

.btn:hover {
    background-color: #c71616; /* Cor de fundo ao passar o mouse */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
    font-weight: bold; /* Negrito para os textos dos botões */
}
.pokemon-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}